AWS_ENDPOINT_URL=http://localhost:4566
AWS_REGION=eu-west-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
JOBS_TABLE=datapipe-jobs
ROWS_TABLE=datapipe-rows
UPLOADS_BUCKET=datapipe-uploads-local
PROCESSING_QUEUE_URL=http://localhost:4566/000000000000/datapipe-processing
